
@{
    ViewBag.Title = "O nas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .mdl-cell {
        box-sizing: border-box;
        background-color: #BDBDBD;
        height: 200px;
        padding-left: 8px;
        padding-top: 4px;
        color: white;
    }

    .mdl-grid:first-of-type .mdl-cell {
        height: 50px;
    }
</style>


<div class="mdl-grid">

    <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet">4 (6 tablet)</div>
    @*<div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-phone">2 (4 phone)</div>*@
</div>




@*<div class="android-more-section">
        <div class="android-section-title mdl-typography--display-1-color-contrast">Najnowsze ogłoszenia</div>
        <div class="android-card-container mdl-grid">












        </div>
    </div>*@
