@model JCPCars.ViewModels.HomeViewModel
@using JCPCars.Infrastructure
@{
    ViewBag.Title = "JcpCars";
}

<nav class="types-horizontal">
    <ul>
        @foreach (var serie in Model.Series)
        {
        <li>
            <a href="@Url.Action("List", "Store", new { seriename = serie.Name.ToLower() })">
                    @serie.Name
                </a>
        </li>
        }
    </ul>
    <a href="">
        <img id="baner-main" src="../Content/Images/baner-main.png" />
    </a>
</nav>

<section>
    <ul class="ThreeColumnsCarsList large-cover-list">
        <li>
            <article>
                <a class="productdetailslink" href="asd">
                    <div class="newFlag"></div>
                    <img class="car-image" src="../Content/Cars/1.png" />
                    <h1>
                        Testowy obrazek
                    </h1>
                </a>
            </article>
        </li>
    </ul>
</section>