@model JCPCars.ViewModels.CartViewModel

@{
    ViewBag.Title = "Index";
}


<div id="productlist-content">


    <div id="productlist-rightsection">
        <div id="breadcrumb-section">
            <img src="../Content/Images/home-small.png" />
        </div>


    </div>
</div>


<script src="~/Scripts/jquery-1.10.2.js"></script>


