@model JCPCars.Models.Car

@{
    ViewBag.Title = "Usuwanie produktu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .demo-card-wide.mdl-card {
        width: 512px;
    }


    .demo-card-wide > .mdl-card__menu {
        color: #fff;
    }
</style>


<div class="android-customized-section" style="padding-bottom:100px; width:auto">
    <div class="android-customized-section-text" style="width:512px">
        <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast" style="padding-bottom:50px; width:512px">Potwierdź usunięcie</div>


        <div class="demo-card-wide mdl-card mdl-shadow--2dp">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()


                <div class="mdl-card__supporting-text" style="width:auto">

                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        Czy na pewno chcesz usunąć @Html.DisplayFor(model => model.CarBrand) @Html.DisplayFor(model => model.CarModel)?
                    </div>
                </div>
                <div class="mdl-card__actions" style="position: absolute; bottom: 0px">
                    <input type="submit" value="Usuń" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" style="color:red" />
                    <a href="@Url.Content("~/Manage/CarsList")">
                        <input type="submit" value="anuluj" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" />
                    </a>
                </div>


            }
        </div>




    </div>
</div>



@section ScriptsBottom
{
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}