@model JCPCars.Models.IndexViewModel
@{
    ViewBag.Title = "Moje konto";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}


<center><h1>@ViewBag.Title</h1></center>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <hr />
    <dl class="dl-horizontal">
        <center>
            [
            @Html.ActionLink("Zmień hasło", "ChangePassword")


            ]
        </center>
        <br />
        <center>
            [
            Usuń konto
            ]
        </center>
    </dl>
</div>







@section ScriptsBottom
{
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}
