@model IEnumerable<JCPCars.Models.Serie>
@using JCPCars.Infrastructure

<nav class="series-vertical">
    <ul>
        @foreach (var serie in Model)
        {
            <li>
                <a href="@Url.Action("List", "Store", new { seriename = serie.Name.ToString() }) ">
                    @serie.Name
                </a>
            </li>
        }
    </ul>
</nav>