@model IEnumerable<JCPCars.Models.Serie>
@using JCPCars.Infrastructure

@foreach (var serie in Model)
{

    <li class="nav-item dropdown mega-dropdown">
        <a class="nav-link no-caret" id="navbarDropdownMenuLink1" href="@Url.Action("List", "Store", new { seriename = serie.Name.ToString() }) ">@serie.Name</a>

    </li>
}
