
@{
    ViewBag.Title = "JCPCars";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <!-- Main Container -->
    <div class="container mt-5 pt-3">

        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark primary-color mt-5 mb-5">

            <!-- Navbar brand -->
            <a class="font-weight-bold white-text mr-4" href="#">Kategorie</a>

            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse" id="navbarSupportedContent1">

                <!-- Links -->
                <ul class="navbar-nav mr-auto">

                    @Html.Action("SeriesMenu")

                </ul>
            </div>


        </nav>
        <!--/.Navbar-->


        <div class="row pt-4">



            <!-- Sidebar -->
            <div class="col-lg-3">

                <div class="">
                    <!-- Grid row -->
                    <div class="row">
                        <div class="col-md-6 col-lg-12 mb-5">
                            <!-- Panel -->
                            <h5 class="font-weight-bold dark-grey-text">
                                <strong>Sortuj według</strong></h3>
                                <div class="divider"></div>

                                <p class="blue-text"><a>Domyślnie</a></p>
                                <p class="dark-grey-text"><a>Moc</a></p>
                                <p class="dark-grey-text"><a>Rok produkcji</a></p>
                                <p class="dark-grey-text"><a>Cena malejąco</a></p>
                                <p class="dark-grey-text"><a>Cena rosnąco</a></p>
                        </div>

                    </div>
                    <!-- /Grid row -->

                    <div class="row">
                        <div class="col-md-6 col-lg-12 mb-5">
                            <h5 class="font-weight-bold dark-grey-text">
                                <strong>Cena</strong></h3>
                                <div class="divider"></div>
                                <form class="range-field mt-3">
                                    <input id="calculatorSlider" class="no-border" type="range" value="0" min="0" max="30" />
                                </form>
                                <div class="row justify-content-center">
                                    <div class="col-md-6 text-left">
                                        <p class="dark-grey-text"><strong id="resellerEarnings">0zł</strong></p>
                                    </div>
                                    <div class="col-md-6 text-center">
                                        <p class="dark-grey-text"><strong id="clientPrice">max</strong></p>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.Sidebar -->
            <!-- Content -->



            <div class="col-lg-9">
                <section class="section pt-4">
                    <div class="row">




                        @Html.Partial("_CarList")

                    </div>


                    <!--Grid row-->
                    <div class="row justify-content-center mb-4">
                        <!--Pagination -->
                        <nav class="mb-4">
                            <ul class="pagination pagination-circle pg-blue mb-0">

                                <!--First-->
                                <li class="page-item disabled clearfix d-none d-md-block"><a class="page-link waves-effect waves-effect">Pierwsza</a></li>

                                <!--Arrow left-->
                                <li class="page-item disabled">
                                    <a class="page-link waves-effect waves-effect" aria-label="Pierwsza">
                                        <span aria-hidden="true">«</span>
                                        <span class="sr-only">Pierwsza</span>
                                    </a>
                                </li>

                                <!--Numbers-->
                                <li class="page-item active"><a class="page-link waves-effect waves-effect">1</a></li>
                                <li class="page-item"><a class="page-link waves-effect waves-effect">2</a></li>
                                <li class="page-item"><a class="page-link waves-effect waves-effect">3</a></li>
                                <li class="page-item"><a class="page-link waves-effect waves-effect">4</a></li>
                                <li class="page-item"><a class="page-link waves-effect waves-effect">5</a></li>

                                <!--Arrow right-->
                                <li class="page-item">
                                    <a class="page-link waves-effect waves-effect" aria-label="Next">
                                        <span aria-hidden="true">»</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>

                                <!--First-->
                                <li class="page-item clearfix d-none d-md-block"><a class="page-link waves-effect waves-effect">Ostatnia</a></li>

                            </ul>
                        </nav>
                        <!--/Pagination -->
                    </div>
                    <!--Grid row-->
                </section>
                <!-- /.Products Grid -->

            </div>
            <!-- /.Content -->

        </div>

    </div>
    <!-- /.Main Container -->
    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="js/mdb.min.js"></script>
    <!-- Initializations -->
    <script type="text/javascript">
        // Animations initialization
        new WOW().init();

    </script>
</body>

</html>
